<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="footerfrag">
        <section class="footer">
            <div class="footer-row">
              <div class="footer-col">
                <h4>Company Name & Address</h4>
                <ul class="links">
                  <li><a href="#">Lashkare Event Management Pvt Ltd</a></li>
                  <li><a href="#">OFFICE NO 104 ARENA LOTUS ABOVE<br> SBI BANK VADAGAO SHERI PUNE 411014
                  </a></li>
                  <li><a href="#">Other Branches :-</a></li>
                  <li><a href="#">1. Pune</a></li>
                  <li><a href="#">2. Shambhajinagar</a></li><br><br><br><br>
                  <!-- <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a></li>
                  <li><a href="http://"></a></li> -->
                </ul>
              </div>
             
              <div class="footer-col">
                <h4>Explore</h4>
                <ul class="links">
                  <li><a href="#">Birthday Party</a></li>
                  <li><a href="#">Wedding Anniversary</a></li>
                  <li><a href="#">Wedding</a></li>
                  <li><a href="#">Award Function</a></li>
                  <li><a href="#">Engagement</a></li>
                  <li><a href="#">Name Ceremony</a></li>
                  <li><a href="#">Munja Ceremony</a></li>
                  <li><a href="#">Filmy & Cartoon Character</a></li>
                </ul>
              </div>
      
              <div class="footer-col">
                <h4>Legal</h4>
                <ul class="links">
                  <li><a href="#">Customer Agreement</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">GDPR</a></li>
                  <li><a href="#">Security</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Media Kit</a></li>
                </ul>
              </div>
      
              <div class="footer-col">
                <h4>Location</h4>
                <p>
                 Our Premises are Located in Wadgaon Sheri Pune.
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15130.131080078041!2d73.92039299999999!3d18.5500045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c16f0414015b%3A0x39a3cd31679bff9d!2sWadgaon%20Sheri%2C%20Pune%2C%20Maharashtra%20411014!5e0!3m2!1sen!2sin!4v1717501172378!5m2!1sen!2sin" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
                <div class="icons">
                  <i class="fa-brands fa-facebook-f"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-linkedin"></i>
                  <i class="fa-brands fa-github"></i>
                </div>
              </div>
            
              <!-- <h6 style="color: white;"><center>Copyright@2022</center></h6> -->
    
            </div>
          </section>

    </div>
</body>
</html>