

.carousel-item {
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    margin-bottom: 150px;
}

.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: black;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 768px) {
    .carousel-item {
        height: 50vh;
    }

    .rounded-circle {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 576px) {
    .carousel-item {
        height: 40vh;
    }

    .rounded-circle {
        width: 75px;
        height: 75px;
    }
}
#footer-placeholder{
    margin-top: 100px;
    margin-bottom: -500px;
}
