<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Events-Lakshare Event Management</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/Events.css}">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/Footer.css}">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/Navbar.css}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- Include NavBar Header Section-->
	<div th:insert="~{/Navbar :: navbar}"></div>

	<div class="container">

		<section id="wedding" class="event-content">
			<h2>Wedding</h2>
			<img th:src="@{/Images/Weeding1.jpg}" alt="Wedding Event">
			<p>

				<b>Lashkar Events The Perfect Wedding Planners :</b> <span
					style="text-decoration: underline;">Making Your Dream
					Wedding a Reality</span><br> At Lashkare EVENT Management, we understand that
				your wedding day is one of the most important days of your life. Our
				goal is to create a wedding that is uniquely yours, reflecting your
				personal style and vision. With our meticulous attention to detail
				and extensive experience in planning and executing flawless
				weddings, we ensure that every aspect of your special day is
				perfect. Our services begin with a personalized consultation where
				we get to know you and your partner, understanding your dreams and
				desires for your wedding. We offer comprehensive planning services
				that include venue selection, custom decorations, catering,
				entertainment, and more. Our partnerships with top vendors in the
				industry ensure that you receive the highest quality services, from
				stunning floral arrangements to exquisite gourmet meals. We pride
				ourselves on our creativity and ability to transform any space into
				a breathtaking venue. Whether you envision a traditional ceremony in
				a grand ballroom, a romantic beach wedding, or an intimate garden
				affair, we have the expertise to bring your vision to life. Our team
				is skilled in designing and executing weddings that are not only
				beautiful but also reflect the unique personality and style of the
				couple. On your wedding day, our team will be on-site to manage
				every detail, ensuring that everything runs smoothly and according
				to plan. From coordinating with vendors to managing the timeline, we
				handle all the logistics so that you can relax and enjoy your
				special day. We understand the importance of creating lasting
				memories, and we strive to make your wedding a day that you and your
				guests will remember forever. At Lashkare EVENT Management, we are
				passionate about creating magical and memorable weddings. Let us
				take the stress out of wedding planning and help you create the
				wedding of your dreams. Contact us today to start planning your
				perfect wedding.
			</p>
		</section>
		<section id="birthday-party" class="event-content">
			<h2>Birthday Party</h2>
			<img th:src="@{/Images/mainbirthdayimage.avif}"
				alt="Birthday Party Event">
			<p>
				<b>Grand Birthday Party Organizers:</b><span
					style="text-decoration: underline;"> Making Every Birthday
					Magical</span><br> At Lashkare Events, we believe every birthday is a
				milestone worth celebrating with unparalleled joy and excitement.
				Our team of creative and experienced event planners is dedicated to
				transforming your birthday dreams into reality, ensuring that your
				special day is filled with memorable moments and delightful
				surprises. From intimate gatherings to large-scale celebrations, we
				tailor our services to meet your unique preferences and vision. We
				begin with a detailed consultation to understand your desires, theme
				preferences, and budget, allowing us to design a customized birthday
				celebration that exceeds your expectations. Our services encompass
				everything from venue selection and decoration to entertainment,
				catering, and beyond. Our birthday party themes are limited only by
				your imagination. Whether you envision a whimsical fairy tale party,
				a vibrant carnival celebration, a sophisticated dinner affair, or a
				high-energy dance party, we have the expertise to bring your vision
				to life. We collaborate with top vendors to provide exceptional
				services, including stunning decorations, delectable cakes and
				treats, engaging entertainers, and interactive activities that keep
				guests of all ages entertained. On the day of the celebration, our
				team is on-site to ensure that every detail is executed flawlessly.
				We manage the timeline, coordinate with vendors, and handle any
				unexpected situations, allowing you to relax and fully enjoy the
				festivities. Our commitment to excellence and attention to detail
				guarantee that your birthday celebration will be a resounding
				success. At Lashkare Events, we are passionate about creating
				unforgettable birthday experiences that leave lasting impressions.
				Let us take the stress out of birthday party planning and help you
				celebrate your special day in style. Contact us today to start
				planning your extraordinary birthday celebration.
			</p>
		</section>
		<section id="wedding-anniversary" class="event-content">
			<h2>Wedding Anniversary</h2>
			<img th:src="@{/Images/anniverssary2.avif}"
				alt="Wedding Anniversary Event">
			<p>

				<b>Memorable Wedding Anniversary Celebrations:</b> <span
					style="text-decoration: underline;">Rekindling Love and Joy</span><br>

				Celebrating a wedding anniversary is a beautiful opportunity to
				reflect on the journey of love, commitment, and shared experiences.
				At Lashkare Events, we specialize in creating heartfelt and
				memorable wedding anniversary celebrations that honor the milestones
				of your relationship and create new cherished memories. Our approach
				to wedding anniversary planning begins with understanding your
				unique story and vision for the celebration. Whether you're
				commemorating your first anniversary or a significant milestone like
				the 25th or 50th, we design a personalized event that captures the
				essence of your relationship. From intimate dinners to grand
				gatherings with family and friends, our services are tailored to
				meet your specific desires. We offer comprehensive planning
				services, including venue selection, custom decorations,
				entertainment, catering, and more. Our team collaborates with top
				vendors to ensure that every element of your celebration is of the
				highest quality. Whether you envision a romantic candlelit dinner, a
				lively party with dancing, or a heartfelt vow renewal ceremony, we
				have the expertise to bring your vision to life. On the day of the
				event, our team is dedicated to managing every detail, ensuring that
				your anniversary celebration is seamless and stress-free. We handle
				all logistics, coordinate with vendors, and oversee the timeline,
				allowing you to focus on enjoying the moment and creating new
				memories with your loved ones. At Lashkare Events, we are passionate
				about celebrating love and creating extraordinary wedding
				anniversary experiences. Let us help you honor your relationship and
				create a celebration that reflects the love and joy you've shared.
				Contact us today to start planning your memorable wedding
				anniversary celebration.
			</p>
		</section>
		<section id="engagement" class="event-content">
			<h2>Engagement</h2>
			<img th:src="@{/Images/Engagementnew-transformed.jpeg.jpg}"
				alt="Engagement Event">
			<p>
				<b>Engagement Celebrations:</b> <Span
					style="text-decoration: underline;"> A Prelude to Forever</Span><br>


				An engagement marks the beginning of a beautiful journey towards
				marriage, and at Lashkare Events, we specialize in creating
				enchanting engagement celebrations that capture the excitement and
				joy of this special moment. Our team is dedicated to designing and
				executing events that reflect your unique love story and set the
				stage for your future together. Our engagement celebration services
				begin with a detailed consultation to understand your vision,
				preferences, and style. Whether you desire an intimate gathering
				with close family and friends or a grand celebration with all your
				loved ones, we tailor our services to meet your needs. From venue
				selection and custom decorations to entertainment and catering, we
				handle every aspect of the event with meticulous attention to
				detail. We believe that every engagement celebration should be a
				reflection of the couple's personality and love story. Our creative
				team works closely with you to design a theme and ambiance that
				resonates with your unique relationship. Whether you envision a
				romantic garden party, a chic rooftop soirée, or a traditional
				engagement ceremony, we have the expertise to bring your vision to
				life. On the day of the celebration, our team is on-site to ensure
				that everything runs smoothly and according to plan. We manage the
				timeline, coordinate with vendors, and handle any unexpected
				situations, allowing you to relax and fully enjoy the moment. Our
				commitment to excellence and passion for creating memorable
				experiences ensure that your engagement celebration will be a
				cherished memory. At Lashkare Events, we are passionate about
				celebrating love and creating extraordinary engagement experiences.
				Let us help you start your journey towards marriage with a
				celebration that reflects your unique love story. Contact us today
				to start planning your enchanting engagement celebration.
			</p>
		</section>
		<section id="munja-ceremony" class="event-content">
			<h2>Munja Ceremony</h2>
			<img th:src="@{/Images/munja.jpg}" alt="Munja Ceremony Event">
			<p>
				<b>Munja Ceremony:</b> <Span style="text-decoration: underline;">Honoring
					Tradition and Celebrating Milestones</Span><br> The Munja ceremony is
				a significant rite of passage in Hindu culture, marking a young
				boy's transition into a new stage of life. At Lashkare Events, we
				are dedicated to creating meaningful and memorable Munja ceremonies
				that honor tradition while incorporating modern elements to create a
				unique and personalized celebration. Our approach to planning a
				Munja ceremony begins with understanding your family's traditions,
				preferences, and vision for the event. We offer comprehensive
				planning services, including venue selection, custom decorations,
				traditional rituals, entertainment, and catering. Our team
				collaborates with experienced vendors to ensure that every aspect of
				the ceremony is executed flawlessly and with respect for cultural
				traditions. We believe that the Munja ceremony should be a
				reflection of the young boy's personality and the family's cultural
				heritage. Our creative team works closely with you to design a theme
				and ambiance that resonates with your family's values and
				traditions. Whether you envision a traditional ceremony in a temple
				or a contemporary celebration in a banquet hall, we have the
				expertise to bring your vision to life. On the day of the Munja
				ceremony, our team is on-site to manage every detail, ensuring that
				the event runs smoothly and according to plan. We handle all
				logistics, coordinate with vendors, and oversee the timeline,
				allowing you to focus on enjoying the celebration with your family
				and friends. Our commitment to excellence and attention to detail
				guarantee that your Munja ceremony will be a cherished memory for
				years to come. At Lashkare Events, we are passionate about
				celebrating cultural milestones and creating extraordinary Munja
				ceremonies. Let us help you honor tradition and create a celebration
				that reflects your family's values and heritage. Contact us today to
				start planning your meaningful Munja ceremony.
			</p>
		</section>
		<section id="baby-shower" class="event-content">
			<h2>Baby Shower</h2>
			<img th:src="@{/Images/babyshower.jpg}" alt="Baby Shower Event">
			<p>
				<b>Baby Shower Celebrations:</b> <Span
					style="text-decoration: underline;">Welcoming New Beginnings</Span><br>

				A baby shower is a joyous occasion to celebrate the impending
				arrival of a new life and to honor the parents-to-be. At Lashkare
				Events, we specialize in creating heartwarming and memorable baby
				shower celebrations that reflect the excitement and anticipation of
				this special time. Our approach to planning a baby shower begins
				with understanding your vision, preferences, and style. Whether you
				desire an intimate gathering with close family and friends or a
				grand celebration, we tailor our services to meet your needs. From
				venue selection and custom decorations to entertainment and
				catering, we handle every aspect of the event with meticulous
				attention to detail. We believe that every baby shower should be a
				reflection of the parents-to-be and their unique journey. Our
				creative team works closely with you to design a theme and ambiance
				that resonates with your vision. Whether you envision a whimsical
				garden party, a sophisticated brunch, or a traditional celebration,
				we have the expertise to bring your vision to life. On the day of
				the baby shower, our team is on-site to ensure that everything runs
				smoothly and according to plan. We manage the timeline, coordinate
				with vendors, and handle any unexpected situations, allowing you to
				relax and fully enjoy the moment. Our commitment to excellence and
				passion for creating memorable experiences ensure that your baby
				shower will be a cherished memory. At Lashkare Events, we are
				passionate about celebrating new beginnings and creating
				extraordinary baby shower experiences. Let us help you welcome the
				new arrival with a celebration that reflects your joy and
				anticipation. Contact us today to start planning your heartwarming
				baby shower celebration.
			</p>
		</section>
		<section id="corporate-event" class="event-content">
			<h2>Corporate Event</h2>
			<img th:src="@{/Images/corporate_event.jpeg}" alt="Corporate Event">
			<p>
				<b>Corporate Events:</b> <Span style="text-decoration: underline;">Elevating
					Professional Celebrations</Span><br> At Lashkare Events, we
				understand the importance of corporate events in building
				relationships, enhancing brand image, and achieving business goals.
				Our team of experienced event planners specializes in creating
				professional and impactful corporate events that leave a lasting
				impression on your attendees. Our approach to planning a corporate
				event begins with understanding your objectives, audience, and
				vision for the event. Whether you're organizing a conference,
				product launch, gala dinner, team-building retreat, or any other
				corporate gathering, we tailor our services to meet your specific
				needs. From venue selection and custom branding to entertainment and
				catering, we handle every aspect of the event with meticulous
				attention to detail. We believe that every corporate event should be
				a reflection of your company's values and goals. Our creative team
				works closely with you to design a theme and ambiance that aligns
				with your brand identity. Whether you envision a sleek and modern
				conference, a luxurious gala dinner, or an engaging team-building
				retreat, we have the expertise to bring your vision to life. On the
				day of the corporate event, our team is on-site to ensure that
				everything runs smoothly and according to plan. We manage the
				timeline, coordinate with vendors, and handle any unexpected
				situations, allowing you to focus on networking and achieving your
				business goals. Our commitment to excellence and attention to detail
				guarantee that your corporate event will be a resounding success. At
				Lashkare Events, we are passionate about creating professional and
				impactful corporate events that elevate your brand and achieve your
				business objectives. Let us help you plan a corporate event that
				reflects your company's values and leaves a lasting impression on
				your attendees. Contact us today to start planning your professional
				corporate event.
			</p>
		</section>
	</div>

<!-- Include Footer Section-->
   <div id="footer-placeholder" th:insert="~{/Footer :: footerfrag}"></div>
   
    <!-- Include the JavaScript file -->
    <script th:src="@{/JS/toggleMenu.js}"></script>
    
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
